.header__nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  @media (min-width: $sp-breakpoints-md){
    padding-top: 40px;
  }
  &__logo{
      display: block;
      width: 91px;
      height: 35px;
      background-image: url("../images/Logo.svg");
    }
  .header__link1{
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
  }
  .header__text{
    color: #000;
    font-family: $sp-font-Gilroy-Regular;
    font-size: 35px;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.7px;

    @media (max-width: $sp-breakpoints-md){
      display: none;
    }
  }
    &__span1{
      color: #000;
      font-family: $sp-font-Gilroy-Medium;
      font-size: 35px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: -0.7px;
      text-transform: uppercase;
    }
    &__span2{
      color: #000;
      text-align: center;
      font-family: $sp-font-Gilroy-Regular;
      font-size: 25px;
      font-weight: 300;
      line-height: normal;
      position: absolute;
    }
  .header__btn{
    color: $sp-color-black;
    text-align: center;
    font-family: $sp-font-Gilroy-SemiBold;
    font-size: 25px;
    font-weight: 400;
    line-height: normal;
    border: none;
  }
}
