.our-team{
  display: block;
  border-top: 1px solid;
  border-color: #252525;
  padding: 30px 0 50px;
  @media (min-width: $sp-breakpoints-xl){
    padding: 50px 0;
  }
  &__title{
    text-align: center;
    color: $sp-color-black;
    font-family: $sp-font-Gilroy-Regular;
    font-size: 80px;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
    padding-bottom: 30px;
  }
}
.our-team__outer-box {
      @media (min-width: $sp-breakpoints-md) and (max-width: $sp-breakpoints-xl) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        column-gap: 40px;
        row-gap: 30px;
      }
      @media (min-width: $sp-breakpoints-xl){
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 40px;
        row-gap: 30px;
      }
}
.our-team__wrapper{
 display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 30px 0;
}
  .our-team__link{
    display: block;
    width: 100%;

    .our-team__h3{
      color: #333;
      text-align: center;
      font-family: $sp-font-Gilroy-Regular;
      font-size: 29px;
      font-weight: 800;
      line-height: normal;
      text-transform: uppercase;
    }

    .our-team__job{
      color: #333;
      text-align: center;
      font-family: $sp-font-Gilroy-Medium;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding-bottom: 15px;
    }
    .our-team__img{
      display: block;
      object-fit: cover;
      width: 100%;
    }
  }

.our-team__wrapper-network{
  display: flex;
  gap: 10px;
}
  .our-team__network{
    display: block;
    width: 30px;
    height: 30px;
    background-image: url("../images/icon_facebook.svg");
    background-size: 100%;
    background-position: center;

  .our-team__network--tw{
    background-image: url("../images/icon_twitter.svg");
  }
  .our-team__network--in{
    background-image: url("../images/icon_linkedin.svg");
  }
  .our-team__network--dr{
    background-image: url("../images/icon_dribble.svg");
  }
}
.our-team__content{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding-top: 30px;
  @media (min-width: $sp-breakpoints-md) and (max-width: $sp-breakpoints-xl){
    justify-content: start;
    align-items: start;

  }
  @media (min-width: $sp-breakpoints-md){
    align-items: start;
    justify-content: center;
    grid-column: span 2;
  }

  .our-team__text1{
    color: #333;
    font-family: $sp-font-Gilroy-Regular;
    font-size: 30px;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;

  }
  .our-team__text2{
    color: #333;
    font-family: $sp-font-Gilroy-Bold;
    font-size: 40px;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;

    @media (min-width: $sp-breakpoints-md){
      text-align: start;
      font-size: 64px;
    }
  }
  .our-team__bottom-link{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: $sp-color-black;
    color: $sp-color-white;
    font-family: $sp-font-Gilroy-Medium;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    width: 100%;
    padding: 10px 0;
    @media (min-width: $sp-breakpoints-md){
      width: 163px;

    }
  }
  &__bottom-link:after{
    content: "";
    width: 13px;
    height: 21px;
    background-image: url("../images/Group1.svg");
    background-size: 100% 60%;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 10px;

  }
}