
.Dianne__title{
  color: $sp-color-black;
  text-align: center;
  font-family: $sp-font-Gilroy-SemiBold;
  font-size: 57px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  padding-top: 30px;

  @media (min-width: $sp-breakpoints-md) and (max-width: $sp-breakpoints-xl){
    font-size: 120px;
    padding-top: 60px;
  }
  @media (min-width: $sp-breakpoints-xl){
    font-size: 150px;
    padding-top: 60px;
  }
}
  .Dianne__subtitle{
    color: #252525;
    font-family: $sp-font-Gilroy-Regular;
    font-size: 57px;
    font-weight: 300;
    line-height: normal;
    text-transform: capitalize;
    text-align: center;
  @media (min-width: $sp-breakpoints-md) and (max-width: $sp-breakpoints-xl){
    font-size: 120px;
  }
  @media (min-width: $sp-breakpoints-xl){
    font-size: 150px;
  }
}
.Dianne__link{
  display: block;
  width: 25px;
  height: 40px;
  background-image: url("../images/Group-1.svg");
  background-size: 100% 100%;
  position: absolute;
  left: 48%;

}
.Dianne__img{
    display: block;
    object-fit: cover;
    width: 100%;
    padding-top: 64px;
    margin: 0 auto;

  @media (min-width: $sp-breakpoints-md){
    padding-top: 110px;
  }
}
.Dianne__wrapper{
   @media (min-width: $sp-breakpoints-xl){
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 70px 0;
     border-bottom: 1px solid $sp-color-black;
   }
 }
  .Dianne__wrapper-text{
    display: inline-block;
    color: $sp-color-black;
    text-align: left;
    font-family: $sp-font-Gilroy-Regular;
    font-size: 30px;
    font-weight: 300;
    line-height: normal;

    @media (min-width: $sp-breakpoints-md) and (max-width: $sp-breakpoints-xl){
      font-size: 52px;
    }
    @media (min-width: $sp-breakpoints-xl){
      font-size: 62px;
    }

    &-span{
      font-weight: 800;
    }
  }
.Dianne__bottom-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  padding: 40px 30px;
  background-color: $sp-color-black;

  @media (min-width: $sp-breakpoints-xl){
    padding: 60px 70px;
    width: 30%;
  }

 &__text{
   display: inline-block;
    color: $sp-color-white;
    text-align: right;
    font-family: $sp-font-Gilroy-Medium;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
  }
  &__network{
    display: flex;
    justify-content: end;
    gap: 20px;
 }
  &__link{
    width: 50px;
    height: 50px;
    background-image: url("../images/icon_circle_facebook.svg");
  }
    .Dianne__link--tw{
      background-image: url("../images/icon_circle_twitterbird.svg");
    }
    .Dianne__link--ln{
      background-image: url("../images/icon_circle_linkedin.svg");
    }
    .Dianne__link--cd{
      background-image: url("../images/icon_circle_dribble.svg");
    }
}

