.logo__wrapper {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 430px;
  margin: 30px 0;
  flex-wrap: wrap;

  @media(min-width: $sp-breakpoints-md) and (max-width: $sp-breakpoints-xl){
    height: 160px;
    margin: 40px 0;
  }
  @media (min-width: $sp-breakpoints-xl){
    height: 70px;
    margin: 70px 0;
  }
}
  .logo__link {
    display: flex;
    align-items: center;
    padding: 15px 40px;
    height: 40px;
    border-radius: 50px;
    background-color: $sp-color-white;

    @media(min-width: $sp-breakpoints-md) and (max-width: $sp-breakpoints-xl) {
      padding: 15px 25px;
    }
    @media(min-width: $sp-breakpoints-xl) and (max-width: 1500px) {
      padding: 15px 19px;
    }
  }

