@font-face {
  font-family: "Gilroy-SemiBold";
  src:url("../fonts/Gilroy-SemiBold.woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Gilroy-SemiBold";
  src:url("../fonts/Gilroy-SemiBold.woff2");
  font-weight: 300;
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url("../fonts/Gilroy-Medium.woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Gilroy-Regular";
  src: url("../fonts/Gilroy-Regular.woff2");
  font-weight: 300;
}
@font-face {
  font-family: "Gilroy-SemiBold";
  src: url("../fonts/Gilroy-Regular.woff2");
  font-weight: 800;
}
@font-face {
  font-family: "Gilroy-Bold";
  src:url("../fonts/Gilroy-Bold.woff2");
  font-weight: 400;
}