$sp-breakpoints-xxl: 1500px;
$sp-breakpoints-xl: 1200px;
$sp-breakpoints-md: 768px;
$sp-breakpoints-sm: 320px;

$sp-font-Inter: "Inter", sans-serif;
$sp-font-Gilroy-SemiBold: "Gilroy-SemiBold", sans-serif;
$sp-font-Gilroy-Medium: "Gilroy-Medium", sans-serif;
$sp-font-Gilroy-Bold: "Gilroy-Bold", sans-serif;
$sp-font-Gilroy-Regular: "Gilroy-Regular", sans-serif;

$sp-color-white: #FFF;
$sp-color-black: #252525;

